## Import libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

## Load CSV data

In [ ]:
df = pd.read_csv('1000_richest_people_in_the_world.csv')

## Dataset Overview

In [ ]:
df.head()

In [ ]:
df.info()

## Country with most Billionaires

In [ ]:
country_grouped = df.groupby('Country')['Net Worth (in billions)'].count().sort_values(ascending=False).reset_index()
print(f"Country with most Billionaires: {country_grouped['Country'][0]}")

In [ ]:
plt.bar(country_grouped['Country'],country_grouped['Net Worth (in billions)'])
plt.title("Country with Total Net worth of its Billionaires")
plt.xlabel("Country")
plt.ylabel("Net Worth (in billions)")
plt.show()

## People with Net worth > 150 billions

In [ ]:
ten_billion = df[df['Net Worth (in billions)']>150].reset_index(drop=True)
ten_billion

### Combined Net worth of people with Net worth > 150 Billions, in each Country

In [ ]:
tenB_country_counts = ten_billion.groupby('Country')['Net Worth (in billions)'].sum().sort_values(ascending=False).reset_index()
tenB_country_counts

In [ ]:
plt.bar(tenB_country_counts['Country'],tenB_country_counts['Net Worth (in billions)'])
plt.title("Countries with Total Net worth > 150b of its Billionaires")
plt.xlabel("Country")
plt.ylabel("Net Worth (in billions)")
plt.show()

## Industries with their Net worth

### Industry with highest combined Net worth

In [ ]:
tenB_inds_counts = df.groupby('Industry')['Net Worth (in billions)'].count().sort_values(ascending=False).reset_index()
print(f"Industry with highest combined Net Worth: {tenB_inds_counts['Industry'][0]} , {tenB_inds_counts['Net Worth (in billions)'][0]} billions")

In [ ]:
tenB_inds_counts

In [ ]:
plt.bar(tenB_inds_counts['Industry'],tenB_inds_counts['Net Worth (in billions)'])
plt.title("Industry VS Total Net worth")
# plt.xlabel("Industry")
plt.ylabel("Net Worth (in billions)")
plt.xticks(rotation=90)
plt.show()

## Top 10 Richest people, with combined worth of all companies in all Industries

In [ ]:
top_10_men = df.groupby(by='Name')['Net Worth (in billions)'].sum().sort_values(ascending=False).reset_index().head(10)
top_10_men

## Top 10 companies, with combined worth of all people in all Industries

In [ ]:
top_10_cmp = df.groupby(by='Company')['Net Worth (in billions)'].sum().sort_values(ascending=False).reset_index().head(10)
top_10_cmp